alabaster==0.7.12
apng==0.3.3
appdirs==1.4.3
arviz==0.6.1
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.5
Babel==2.8.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
bleach==3.1.0
bs4==0.0.1
BTrees==4.6.1
certifi==2019.11.28
cffi==1.13.2
cftime==1.0.4.2
chardet==3.0.4
Click==7.0
cloudpickle==1.3.0
colorama==0.4.3
comtypes==1.1.7
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
diff-match-patch==20181111
docutils==0.16
easygraphics==1.0.18
entrypoints==0.3
fake-useragent==0.1.11
flake8==3.7.9
Flask==1.1.1
Flask-Session==0.3.1
h5py==2.10.0
helpdev==0.6.10
html5lib==1.0.1
idna==2.8
imagesize==1.2.0
importlib-metadata==1.4.0
intervaltree==3.0.2
ipykernel==5.1.3
ipython==7.11.1
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.2
jieba==0.42.1
Jinja2==2.10.3
joblib==0.14.1
json5==0.9.0
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
keyring==21.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
llvmlite==0.31.0
lxml==4.4.2
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.1.0
mpmath==1.1.0
mysqlclient==1.4.6
nbconvert==5.6.1
nbformat==5.0.3
netCDF4==1.5.3
notebook==6.1.5
numba==0.47.0
numpy==1.18.1+mkl
numpydoc==0.9.2
opencv-python==4.1.2+contrib
packaging==20.0
pandas==0.25.3
pandocfilters==1.4.2
paramiko==2.7.1
parse==1.14.0
parso==0.5.2
pathtools==0.1.2
patsy==0.5.1
peewee==3.13.1
persistent==4.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==3.0.2
psutil==5.7.0
ptyprocess==0.6.0
PuLP==2.0
pycodestyle==2.5.0
pycparser==2.19
pydocstyle==5.0.2
pyee==6.0.0
pyflakes==2.1.1
pygame==1.9.6
Pygments==2.5.2
pylint==2.4.4
pymc3==3.8
PyNaCl==1.3.0
pyparsing==2.4.6
pyppeteer==0.0.25
PyQt5==5.12.3
PyQt5-sip==12.7.0
pyqt5-tools==5.13.0.1.5
PyQtWebEngine==5.12.1
pyquery==1.4.1
pyrsistent==0.15.7
python-dateutil==2.8.1
python-dotenv==0.10.5
python-jsonrpc-server==0.3.4
python-language-server==0.31.9
pytz==2019.3
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==18.1.1
QDarkStyle==2.8
qimage2ndarray==1.8.2
QtAwesome==0.7.0
qtconsole==4.6.0
QtPy==1.9.0
requests==2.22.0
requests-html==0.10.0
rope==0.16.0
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
simpy==3.0.12
six==1.14.0
sklearn==0.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
soupsieve==1.9.5
Sphinx==2.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==4.1.1
spyder-kernels==1.9.0
SQLAlchemy==1.3.12
statsmodels==0.10.2
sympy==1.5.1
terminado==0.8.3
testpath==0.4.4
Theano==1.0.4
tornado==6.0.3
tqdm==4.41.1
traitlets==4.3.3
transaction==3.0.0
typed-ast==1.4.1
urllib3==1.25.7
w3lib==1.21.0
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
websockets==8.1
Werkzeug==0.16.0
wrapt==1.11.2
xarray==0.14.1
yapf==0.29.0
zc.lockfile==2.0
ZConfig==3.5.0
zipp==2.0.0
ZODB==5.5.1
zodbpickle==2.0.0
zope.interface==4.7.1
