#container {
	width:800px;
	margin:0 auto;
}
#container h1 {
    text-align: center;
}
#container table {
    border-collapse: collapse;
}

#container table,tr,td {
    border: solid 1px black;
}

#container th {
    background-color: black;
    color: white;
}


#container td,th {
    padding: 5px;
}