<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成绩管理系统</title>
</head>
<body>
<div>
    <h1>修改学生信息</h1>
    <form action="/do_modify/{{student.id}}" method="POST">
        <fieldset>
            <legend>姓名</legend>
            <input type="text" name="name" value="{{student.name}}"/>
        </fieldset>
        <fieldset>
            <legend>班级</legend>
            <input type="text" name="class_name" value="{{student.class_name}}"/>
        </fieldset>
        <fieldset>
            <legend>成绩</legend>
            <input type="text" name="score" value="{{student.score}}"/>
        </fieldset>
        <input type="submit" value="提交">
    </form>
</div>
</body>
</html>