<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成绩管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" >
</head>
<body>
    <div id="container">
       <h1>输入新学生信息</h1>
        <form action="do_add" method="POST">
            <fieldset>
                <legend>学号</legend>
                <input type="text" name="id" />
            </fieldset>
            <fieldset>
                <legend>姓名</legend>
                <input type="text" name="name" />
            </fieldset>
            <fieldset>
                <legend>班级</legend>
                <input type="text" name="class_name" />
            </fieldset>
            <fieldset>
                <legend>成绩</legend>
                <input type="text" name="score" />
            </fieldset>
            <input type="submit" value="提交">
        </form>
    </div>
</body>
</html>